.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #1599BB;
  border-color: #1599BB;
  border-width: 0em;
}

.card {
  border-width: 0.1em;
}

.positive {
    background-color: #1599BB;
    border-color: #1599BB;
    border: 0;
}

.negative {
    background-color: #fff;
}

.svgImg {
  padding-left: 40px;
}
