<div class="card mb-3 border-dark"
    style="width: 10rem; height: 8rem;"
    (click)="handleClick()"
    [ngClass]="{'positive': isSelected, 'negative': !isSelected}">
  <div class="card-body">
    <p style="font-family: 'Arial Narrow';">{{receiveTypeCardName}}</p>
  </div>
</div>

<!--  -->
<!-- ng-style="isTrue && {'background-color':'green'} || {'background-color': 'blue'}" -->
<!-- ng-click="selectedReceiveType && {'background-color': '#1599BB'}" -->
<!-- [style.color]="eachOutlet.dollarValue < 0 ? 'red' : null" -->
<!-- "isSelected ? {'background-color':'#1599BB'} : {'background-color':'#fff'}" -->
