.card {
  min-height: 350px;
  background-color: #f3faff;
  font-size: 11px;
  font-family: "Georgia", Times, serif;
}

.exchangeRate {
  font-size: 14px;
  /* display: inline-block; */
  padding-top: 0px;
  padding-bottom: 0px;
  color: #44433D;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}
