.container {
  background-color: #f3faff;
  font-size: 11px;
  position: fixed;
  min-width: 300px;
  width: 320px;
}

.heading1 {
  padding-top: 20px;
  text-align: left;
  font-family: "Open Sans",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.transferText {
  float: left; padding-left: 40px; font-size: 14px;
}

.transferAmount {
  float: right; font-size: 16px;
}
