<div class="card">
  <div class="card-body">
    <div class=" heading1">
      <h5 class="card-title">Summary</h5>
      <div>
        <div *ngIf="baseCountry !== selectedCountry">
          <div class="heading2">
            <span >Exchange Rate</span>
            <div class="hrTag">
              <hr />
            </div>
            <div style="text-align: right">
              <span>1.00 USD = {{selectedCountry.exchangeRate}} ({{selectedCountry.currencyCode}})</span>
            </div>
            <hr />
          </div>
        </div>
        <div *ngIf="baseCountry === selectedCountry">
          <hr />
        </div>
      </div>
    </div>
    <div class="items">
      <span class="smaller">Transfer Amount</span>
      <span class="bigger">{{transferAmount | number : '1.2'}} {{baseCountry.currencyCode}}</span>
      <br />
      <span class="smaller">Transfer Fee</span>
      <span class="bigger">+{{getTransferFee() | number : '1.2'}}
      {{baseCountry.currencyCode}}</span>
      <br />
      <span class="smaller">Transfer Total</span>
      <span class="bigger">{{getTotal() | number : '1.2'}} {{baseCountry.currencyCode}}</span>
      <br />
    </div>
    <div class="padding-bottom-30"></div>
    <div class="heading2">
      <span class="ttr">Total to receiver</span>
    </div>
    <hr />
    <span class="thisBigger">{{receiveAmount | number : '1.2'}} {{selectedCountry.currencyCode}}</span>
    <div class="heading2">
      <hr />
      <span>Service Time:</span>
      <div class="padding-bottom-30"></div>
    </div>
  </div>
</div>
