.container {
  background-color: #f3faff;
  font-size: 11px;
  font-family: "Georgia", Times, serif;
  position: fixed;
  min-width: 300px;
  /* max-width: 300px; */
  width: 320px;
}

.heading1 {
  padding-top: 20px;
  text-align: left;
}

.heading2 {
  text-align: left;
  font-weight: lighter;
  font-size: 16px;
  line-height: 10px;
  padding-top: 20px;
}

.items {
  color: #767676;
  font-family: "Open Sans",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /* width: 50%; */
  /* display: inline-block; */
  text-align: right;
  font-size: 14px;
}

.bigger {
  color: #44433D;
  font-family: "Open Sans",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size: 18px;
}

.exchangeRate {
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #767676;
  text-align: right;
  font-size: 14px;
}

.ttr {
  font-size: 14px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}
