<div class="container">
  <h5 class="heading1">Summary</h5>
  <div *ngIf="baseCountry.name !== selectedCountry.name">
    <div style="padding-top: 10px;">
      <span style="font-size: 14px;">Exchange Rate</span>
      <hr style="margin-top: 0px;"/>
      <div style="text-align: right;">
        <span style="font-size: 16px;">1.00 USD = {{selectedCountry.exchangeRate}} ({{selectedCountry.currencyCode}})</span>
      </div>
      <hr style="margin: 0px;"/>
    </div>
  </div>
  <div *ngIf="baseCountry === selectedCountry">
    <hr style="margin: 5px;"/>
  </div>
  <div style="padding-top: 10px;">
    <span class="transferText">Transfer Amount</span>
    <span class="transferAmount">{{transferAmount | number : '1.2'}} {{baseCountry.currencyCode}}</span>
  </div>
  <br />
  <div style="padding-top: 10px;">
    <span class="transferText">Transfer Fee</span>
    <span class="transferAmount">+{{getTransferFee() | number : '1.2'}} {{baseCountry.currencyCode}}</span>
  </div>
  <br />
  <div style="padding-top: 10px;">
    <span class="transferText">Transfer Total</span>
    <span class="transferAmount">{{getTotal() | number : '1.2'}} {{baseCountry.currencyCode}}</span>
  </div>
  <br />
  <div style="padding-top: 20px;">
    <span style="font-size: 14px;">Total to receiver</span>
  </div>
  <hr style="margin-top: 0px; margin: 0px;" />
  <div style="text-align: right; font-size: 16px;">
    <span >{{receiveAmount | number : '1.2'}} {{selectedCountry.currencyCode}}</span>
  </div>
  <br />
  <hr style="margin: 0px;" />
  <div style="padding-bottom: 30px; font-size: 14px;">
    <span>Service Time:</span>
  </div>
</div>

<!--  -->
<!-- <div class="card">
  <div class="card-body">
    <div class=" heading1">

      <div>

      </div>
    </div>
    <div class="items">

      <br />


      <br />

      <br />
    </div>
    <div class="padding-bottom-30"></div>
    <div class="heading2">

    </div>
    <hr />

    <div class="heading2">
      <hr />

      <div class="padding-bottom-30"></div>
    </div>
  </div>
</div> -->
