.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #1599BB;
  border-color: #1599BB;
  border-width: 0em;
}

.card {
  border-width: 0.1em;
}
/* .disabled {
  cursor: default;
  border-color: #D3D3D3;
  background-color: #fff;
  outline: 0;
} */
h5 {
  font-family: 'Arial Narrow';
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.svgImg {
  padding-left: 40px;
}

.card-footer {
  font-weight: solid;
  font-size: 14px;
  font-family: inherit;
  line-height: 2em;
  text-align: center;
  font-weight: 500;
  color: inherit;
  border-top: 2px solid;
}

.positive {
    background-color: #1599BB;
    border-color: #1599BB;
    border: 0;
}

.negative {
    background-color: #fff;
}

.disable {
  background-color: #fff;
  border-color: #D3D3D3;
  color: #D3D3D3;
}

.disable:hover {
  background-color: #fff;
  cursor: default;
  box-shadow: none;
  border-width: 0.1em;
  border-color: #D3D3D3;
}
