<div class="card mb-3 border-dark"
              style="width: 10rem; height: 12rem;" (click)="handleClick()">
    <div class="card-body">
      <h5 class="card-title">{{likeToPayCardName}}</h5>
    </div>
    <div class="card-footer bg-transparent border-dark">
      <div *ngIf="likeToPayCardName === 'Credit/debit card'">
        Tranfer Fee: ${{creditDebitFooter}}
      </div>
      <div *ngIf="likeToPayCardName === 'Bank account'">
        Tranfer Fee: ${{bankAccountFooter}}
      </div>
      <div *ngIf="likeToPayCardName === 'Pay in-store'">
        Tranfer Fee: ${{payInStoreFooter}}
      </div>
    </div>
    <!-- <div class="card-footer bg-transparent border-dark">Fees </div> -->
</div>
