.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #1599BB;
  border-color: #1599BB;
  border: 0;
}

/* .disabled {
  cursor: default;
  border-color: #D3D3D3;
  background-color: #fff;
  outline: 0;
} */

.card-footer {
  font-weight: normal;
}
.positive {
    background-color: #1599BB;
    border-color: #1599BB;
    border: 0;
}

.negative {
    background-color: #fff;
}
