<span class="wu-optional-field">
  <a tabindex="10" aria-label="promo" class="no-padding"
      (click)="handlePromoField()">
    <span *ngIf="!promoClicked"><i class="material-icons">add_circle</i></span>
    <span *ngIf="promoClicked"><i class="material-icons">remove_circle</i></span>
  &nbsp;&nbsp;I have a promo code</a>
</span>
<div *ngIf="promoClicked">
  <br />
  <div class="row no-gutters">
    <div class="col-sm-10 padding-0-1">
      <input type="number"
        class="form-control tall_height"
        [placeholder]="'Promo code'"
        (keyup)="handleButton($event.target.value)">
    </div>
    <div class="col-sm-2 padding-0-2">
      <button class="btn btn-primary form-control"
              [ngClass]="{disabled: !buttonEnabled}">
        Apply
      </button>
    </div>
  </div>
</div>
<hr />
<div class="padding-bottom-30"></div>
