<div>
  <div *ngIf="from !== to" (change)="onChange($event)">
    <div class='column1'>
      <app-amount-field
        [placeholder]="'Send Amount'"
        [amount]="transferAmount"
        [country]="from"
        (amountChange)="onTransferAmountChange($event)"
        >
      </app-amount-field>
    </div>
    <div class='column2'>
      <app-amount-field
        [placeholder]="'Receive Amount'"
        [amount]="receiveAmount"
        [country]="to"
        (amountChange)="onReceiveAmountChange($event)"
        >
      </app-amount-field>
    </div>
  </div>
  <div *ngIf="from === to">
    <app-amount-field
      [placeholder]="'Send Amount'"
      [amount]="transferAmount"
      [country]="from"
      (amountChange)="onTransferAmountChange($event)"
      >
    </app-amount-field>
  </div>
</div>
