<div *ngIf="from !== to">
  <div class="row">
    <div class='col-xs-12 col-sm-5'>
      <app-amount-field
        [placeholder]="'Send Amount'"
        [amount]="transferAmount"
        [country]="from"
        (amountChange)="onTransferAmountChange($event)"
        [firstColumn]="'true'"
        >
      </app-amount-field>
    </div>
    <div class="padding-left-10">
    </div>
    <div >
      <img style="height: 50px;" src="http://chittagongit.com//images/two-way-arrow-icon/two-way-arrow-icon-7.jpg">
    </div>
    <div class="padding-left-10">
    </div>
    <div class='col-xs-12 col-sm-5'>
      <app-amount-field
        [placeholder]="'Receive Amount'"
        [amount]="receiveAmount"
        [country]="to"
        (amountChange)="onReceiveAmountChange($event)"
        >
      </app-amount-field>
    </div>
  </div>
  <div class="padding-bottom-30"></div>
  <div style="text-align: center; font-size: 16px;">
    <strong>
      <span>1.00 USD = {{to.exchangeRate}} {{to.currency}} ({{to.currencyCode}})</span>
    </strong>
  </div>
</div>

<div *ngIf="from === to">
  <app-amount-field
    [placeholder]="'Send Amount'"
    [amount]="transferAmount"
    [country]="from"
    (amountChange)="onTransferAmountChange($event)"
    [firstColumn]="'false'"
    >
  </app-amount-field>
  <div class="padding-bottom-30"></div>
</div>
<hr />
