header {
    background: #212A33;
    background-color: rgb(33, 42, 51);
    height: 70px;
}

.absolute-center {
    padding: 30px 150px 50px 150px;
    background: #EBECE7;
    margin-right: auto;
    margin-left: auto;
}
