header {
    background: #212A33;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(33, 42, 51);
}

.absolute-center {
    padding: 30px 150px 50px 150px;
    background: #EBECE7;
    margin-right: auto;
    margin-left: auto;
}
/* .absolute-center, .absolute-right {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} */

/* .left-container {
  border: 1px solid #D3D3D3;
  padding-left: 0px;
}*/

.right-container-inner {
  padding: 30px 25px;
}
.row {
  /* padding: 30px 150px 50px 150px; */
}

.column1 {
  /* padding: 30px 20px 10px 50px; */
  background: #fff;
  border: 1px #D3D3D3;
  width: 65%;
}

.column2 {
  /* background: #fff; */
  width: 27%;
  /* padding-left: 120px; */
  /* height: 80%; */
  border: 1px #D3D3D3;
}

h1 {
  font-size: 23px;
  font-family: Arial;
}
h1, h1.sub-title {
  margin: 0 0 20px;
  color: #232323;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-bottom-30 {
  padding-top: 20px;
}

hr {
  background-color: #eee;
  border: 0 solid none;
  color: #eee;
  height: 1px;
}

.btn-primary, .btn-primary.active, .btn-primary.active:focus {
    background-color: #1599BB;
    border-color: #1599BA;
    border-radius: 3px;
}

.wu-optional-field>a, .wu-optional-field>a:link, .wu-optional-field>a:visited {
    color: grey;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    display: block;
    transition: color .3s;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.glyphicon, address {
    font-style: normal;
}

a, a:hover, a:link, a:visited, label.check-box-text {
    font-weight: 400;
    background-color: transparent;
}

/* .column1 {
  float: left;
  width: 70%;
}

.column2 {
  float: right;
  width: 30%;
}

.card {
  height: 100px;
} */
