<!-- <form class="no-margin ng-pristine ng-valid-min-send-amount ng-valid-max-send-amount ng-valid-payout-required ng-valid-payin-required ng-valid ng-valid-required">
</form> -->
<div class="dropdown-name-style">Select your receiver's country:</div>
<div class="padding-top-10"></div>
<div>
  <select class="form-control" id="country" required (change)="onChange($event.target.value)">
    <option *ngFor="let country of countries" [value]="country.id">
      {{country.name}}
    </option>
  </select>
</div>
<div class="padding-bottom-30"></div>
<app-send-and-receive-amount [from]="baseCountry" [to]="selectedCountry"></app-send-and-receive-amount>
