<!-- <form class="no-margin ng-pristine ng-valid-min-send-amount ng-valid-max-send-amount ng-valid-payout-required ng-valid-payin-required ng-valid ng-valid-required">
</form> -->
<div class="dropdown-name-style">Select your receiver's country:</div>
<div class="padding-top-10"></div>
<div>
  <select class="form-control" style="height: 50px;" id="country" required
          [value]="selectedCountry && selectedCountry.id"
          (change)="handleChange($event.target.value)">
    <option>Please Select</option>
    <option *ngFor="let country of countries" [value]="country.id">
      {{country.name}}
    </option>
  </select>
</div>
