.padding-top-10 {
  padding-top: 0px;
}

select {
    z-index: 888;
    background-color: transparent!important;
}

select {
    padding: 14px 12px 0!important;
}

.select-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
}
