<div class="row">
  <div class="col-sm-5">
    <input type="number" id="country" name="name" class="form-control tall_height"
           required placeholder="1.00" (keyup)="onKey($event.target.value)">
    <label for="country" class="static-value">USD</label>
  </div>
  <div>
    <img src="../images/si-glyph-arrow-left-right.svg">
  </div>
  <div class="col-sm-5">
    <input class="form-control tall_height" placeholder="0.00" value="{{receiveAmountValue}}" id="country">
    <label for="country" class="static-value">{{receiverCurrencyCode}}</label>
  </div>
</div>

<div class="padding-bottom-30"></div>
<div style="text-align: center; font-size: 16px;">
  <strong>
    <span>1.00 USD = {{receiveAmount.exchangeRate}} {{receiverCurrency}}</span>
  </strong>
</div>

<!-- type="number" id="amount" name="name"
       required  -->
<!--  -->
