<div class="row">
  <div class="column1">
    <div class="left-container">
      <div class="right-container-inner">
        <h1 id="smotitletext">Send Money Online</h1>
        <app-country-dropdown
          [countries]="countries"
          [selectedCountry]="selectedCountry"
          (countryChangeEvent)="setSelectedCountry($event)">
        </app-country-dropdown>
        <app-send-and-receive-amount [from]="baseCountry" [to]="selectedCountry">
        </app-send-and-receive-amount>
        <app-receive-type
          [selectedCountry]="selectedCountry">
        </app-receive-type>
        <app-like-to-pay
          [selectedCountry]="selectedCountry">
        </app-like-to-pay>
        <app-promo-code></app-promo-code>
        <button class="btn btn-primary btn-lg btn-block no-margin">Continue</button>
      </div>
    </div>
  </div>
  <div class="padding-right-30"></div>
  <div class="column2">
    <app-summary-field></app-summary-field>
  </div>
</div>
