.padding-bottom-30 {
  padding-bottom: 30px;
}

.unitedStatesField {
  position:absolute;
	left:830px;
	font-weight:bold;
	font-size:0.8em;
	color:#444;
  top: 305px;
}

.unitedStatesColumnField {
  position:absolute;
  left:250px;
  font-weight:bold;
	font-size:0.8em;
	color:#444;
  top:15px;
}

.otherfields {
  position:absolute;
	left:250px;
	font-weight:bold;
	font-size:0.8em;
	color:#444;
	top:15px;
}
