<input type="number"
  class="form-control tall_height" id="country" required minlength="4"
  [placeholder]="placeholder"
  [value]="amount || placeholder"
  (keyup)="handleAmountChange($event.target.value)"
  onKeyPress="if(this.value.length > 4) return false;">
  <br />
  <div *ngIf="keyPress > 5000" class="errorTag">
    <span>
      <i class="material-icons">highlight_off</i>
      Send upto 5,000.00 USD </span>
  </div>
  <div *ngIf="country.name === 'United States' && firstColumn ==='false'" class="unitedStatesField">
    <label for="country">{{ country.currencyCode }}</label>
  </div>
  <div *ngIf="country.name === 'United States' && firstColumn ==='true'" class="unitedStatesColumnField">
    <label for="country">{{ country.currencyCode }}</label>
  </div>
  <div *ngIf="country.name !== 'United States'" class="otherfields">
    <label for="country">{{ country.currencyCode }}</label>
  </div>
